<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Serial_Number_Lookup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <Serial_Number_Lookup.Properties.Settings>
            <setting name="_dbConnectionString" serializeAs="String">
                <value>Data Source=METRO-GP1;user id=atawil;password=2388;persist security info=True;Integrated Security=False;Initial Catalog=METRO;persistsecurityinfo=True;</value>
            </setting>
            <setting name="_dbQuery" serializeAs="String">
                <value>Select * From SOP10202 Where CMMTTEXT like '%{0}%' and SOPTYPE=3</value>
            </setting>
        </Serial_Number_Lookup.Properties.Settings>
    </userSettings>
</configuration>
